.overview{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 32px;
    margin-left: 24px;
}

.needs-attention-header{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}

.needs-attention-header-text{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr)); /* Automatically adjusts columns */
    padding-top: 32px;
}

.needs-attention-header-numerical{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #BEE4F7;
    color: #14142B;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.needs-attention-header-left{
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}

input{
    display: flex;
    padding: 15px 8px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #E8F5F5;
    background: #24263B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-grow: 1;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.add-patient-button {
    display: flex;
    width: 192px;
    height: 26px;
    margin-right: 16px;

    padding: 11px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #2E6A9F;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content-2 {
    border: 1px solid #E8F5F5;
    background: #24263B;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 750px; 
    height: 500px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: none;
}

.cancel-button:disabled{
    background-color: #aaa;
}