.navbar {
    display: flex;
    flex-direction: column;
    width: 111px;
    height: 80vh;
    justify-content: space-between;
    margin-right: 16px;
    margin-top: 48px;
  }
  
  .navbar-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    align-items: center;
    align-content: center;
  }
  
  .navbar-item {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust gap between icon and text if needed */
    width: 111px;
    color: white;
    padding: 8px 0;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.7s ease, background-color 0.7s ease;
  }
  
  .navbar-item-text {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* Remove extra padding that may be misaligning text */
    padding-left: 10px;
    padding-bottom: 0;
  }
  
  .navbar-item.selected {
    border-color: transparent;
    border-bottom: 2px solid white;
    background-color: transparent;
  }

