.flow-grid {
    display: flex;
    /* max-width: 250px; */
    flex-direction: column;
    padding: 16px;
}
.active-flow { 
    border-radius: 16px;
    border: 1px solid #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    overflow-y: auto;
}

.add-new-flow-bttn{
    display: inline-flex;
    padding: 11px 89px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #D7D7D7;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}π

.mmm {
    background-color: #2E6A9F;
    color: white;
    justify-content: center;
    align-items: center;
    display: 'flex';
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
}