.little-f-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 2px solid #f0f0f0;
    margin-bottom: 16px;
}

.selected {
    border: 2px solid #2E6A9F;
    background-color: #f0f8ff;
}