.little-flow-card {
    background-color: #24263B;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.little-flow-card-header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.little-flow-card-header h3 {
    margin: 0;
    color: #fff;
    font-size: 18px;
}

.action-buttons .icon-button {
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.action-buttons .icon-button:hover {
    color: #555;
}

.little-flow-card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.little-flow-step {
    background-color: #24263B;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    position: relative;
}

.little-flow-step.completed {
    border-color: #66cc66;
}

.little-flow-step.pending {
    background-color: #24263B;
    border-color: #ccc;
}

.people-section,
.deliverables-section {
    margin: 10px 0;
}

.deliverable {
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.edit-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.comments-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.comments {
    font-size: 12px;
    color: #666;
}

.last-updated {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.flow-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}